<!-- This page is obsolete. -->
<h3><%= "This application already has permission from Flickr to access #{@access_token["username"]}'s original size photos." %></h3>

<%= link_to 'Next', photosets_path, class: "btn btn-primary"%>